* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style: none;
}

html,
body,
#react-target {
  height: 100%;
  background-color: #bbb;
}

button:hover {
  cursor: pointer;
}

.main {
  height: 100%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  width: 300px;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200px);
}
.login .active {
  border: 1px solid blue;
}
.login .navlinks {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.login-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.login-form input {
  padding: 6px 6px;
  margin: 10px;
}
