.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button button {
  width: 60%;
  height: 35px;
  background-color: rgba(46, 206, 40);
  margin-top: 3px;
  color: rgba(255, 255, 255);
}
