.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button button {
  width: 60%;
  height: 35px;
  background-color: rgba(34, 226, 30);
  margin-top: 3px;
  color: white;
}
