.exam {
  padding: 6px;
  display: flex;
  height: 100%;
}

.chosen {
  background-color: aquamarine;
}
.chosen-option {
  background-color: rgb(21, 254, 75);
}

.exam .main {
  background-color: white;
  margin-left: 6px;
  flex: 1;
  border-radius: 1rem;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 18px;
}
.exam .main .header {
  width: 100%;
  min-height: fit-content;
  height: 35%;
  background-color: aquamarine;
  border-radius: 1rem;
  padding: 6px;
}
.exam .main .header .question {
  margin: 10px 6px;
}

.exam .main .body {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  padding-left: 18px;
}

.exam .main .body .option {
  padding: 6px 12px;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
}

.exam .main .body .option h3 {
  margin-right: 12px;
}

.exam .side {
  margin-left: 6px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exam .side .duration {
  height: 10%;
  background-color: white;
  border-radius: 1rem;
  display: flex;
}
.exam .side .duration .clock {
  margin: 16px;
  flex: 1;
}
.exam .side .duration .leave {
  width: 20%;
  background-color: rgb(51, 102, 85);
  color: white;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px 6px;
  cursor: pointer;
}

.exam .side .questions {
  height: 89%;
  background-color: white;
  border-radius: 1rem;
  overflow-y: auto;
  padding: 16px;
}
.exam .side .questions .question-link {
  margin: 12px 0 12px 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 6px;
  display: flex;
  justify-content: space-between;
}
.exam .side .questions .question-link .left h3 {
  margin: 2px 0;
}

.exam .side .questions .question-link .right {
  display: flex;
  flex: 1;
  margin: 5px 16px 0 32px;
  justify-content: space-around;
}
.exam .side .questions .question-link .right .an-option {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 4px 8px;
}

.exam .main .body .option,
.exam .side .questions .question-link .right .an-option:hover {
  cursor: pointer;
}

.exam .main .footer {
  width: 40%;
  height: 8%;
  background-color: aquamarine;
  border-radius: 1rem;
  margin-bottom: 1vh;
  align-self: flex-end;
  display: flex;
}

.exam .main .footer .right,
.exam .main .footer .left {
  height: 100%;
  width: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.exam .main .footer .left {
  border-radius: 1rem 0 0 1rem;
  background-color: rgba(0, 0, 0, 0.6);
}
.exam .main .footer .right {
  border-radius: 0 1rem 1rem 0;
  background-color: rgba(0, 0, 0, 0.4);
}
