.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.container .header {
  height: 50px;
  width: 100%;
  background-color: rgba(4, 100, 252);
  display: flex;
  justify-content: space-between;
  padding: 0 6px;
}

.container .header .right-side {
  display: flex;
  align-items: center;
}

.container .header .right-side span {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}
.container .header .right-side span:hover {
  outline: 1px solid white;
  background-color: transparent;
  color: white;
}

.container .header .right-side span.profile {
  height: 40px;
  width: fit-content;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 0 6px;
  margin: 0 6px;
  cursor: pointer;
}
.container .header .right-side span.profile div {
  width: fit-content;
  margin: 0 2px;
}

.container .header .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .header .left-side .lefties {
  height: 40px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 0 6px;
  margin: 0 6px;
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}
.container .header .left-side .lefties:hover {
  outline: 1px solid white;
  background-color: transparent;
  color: white;
}

.container .users {
  padding: 6px;
  display: flex;
}

.container .users ul {
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 25%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  background-color: #ddd;
}

.container .users li {
  width: 100%;
  padding: 6px 12px 6px 12px;
  margin: 1px 0;
  background-color: #eee;
}
.container .users li.chosen {
  background-color: rgba(0, 0, 255, 0.5);
}

.container .users .info {
  height: calc(100vh - 60px);
  width: 100%;
  margin-left: 6px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .users .info .update-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  margin: 10px;
  padding: 4px;
  padding-bottom: 8px;
}
.container .users .info .update-form .head {
  margin-top: 20px;
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 30%;
}
.container .users .info .update-form .body {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .users .info .update-form .body > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .users .info .update-form .body .inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}
.container .users .info .update-form .body .inputs:nth-child(2n) {
  margin-left: 20px;
}

.container .users .info .update-form .tail {
  flex-basis: 30%;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  align-self: flex-end;
}

.container .users .info .update-form .head .img {
  width: 25%;
  height: 100%;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .users .info .update-form .head .head-left {
  display: flex;
  flex-direction: column;
}

.container .users .info .update-form .head .head-left div {
  height: 50px;
}
.container .users .info .update-form .head .head-left .created-at {
  display: flex;
  align-items: center;
}

.container .users .info .update-form .head .head-left .active-status button {
  background-color: red;
  width: 140px;
  color: white;
}
.container
  .users
  .info
  .update-form
  .head
  .head-left
  .active-status
  button.active {
  background-color: green;
}

.container .users .info .update-form input {
  padding: 6px 6px;
  margin: 6px 10px;
  border: 1px solid rgb(10, 100, 200);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.container .users .info .update-form button {
  padding: 6px 10px;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.users.dropdown button {
  background-color: rgb(108, 108, 108);
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
}

.users .dropdown {
  position: relative;
  display: inline-block;
}

.users .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.users .dropdown-content a {
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  color: black;
  background-color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.users .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.users .dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.users .dropdown:hover .dropbtn {
  background-color: rgb(128, 128, 128);
}

.exams {
  padding: 6px;
  display: flex;
}
.container .exams ul {
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 20%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  background-color: #ddd;
}
.container .exams li {
  width: 100%;
  padding: 6px 12px 6px 12px;
  margin: 1px 0;
  background-color: #eee;
}
.container .exams li.chosen {
  background-color: rgba(0, 0, 255, 0.5);
}
.exams .the-questions {
  background-color: white;
  margin-left: 6px;
  width: 30%;
  height: 100%;
}
.exams .the-exams {
  background-color: white;
  margin-left: 6px;
  flex: 1;
}
