.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px;
  width: 20vw;
  border-radius: 1rem;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30vh);
}
.login .active {
  border: 1px solid blue;
}
.login .navlinks {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.login-form {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px 20px;
  padding-bottom: 8px;
  border-radius: 1rem;
}

@media only screen and (max-width: 1200px) {
  .login {
    width: 40vw;
  }
}

@media only screen and (max-width: 900px) {
  .login {
    width: 50vw;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .login {
    width: 60vw;
    transform: translate(-50%, -47vh);
  }
}

/*
*/

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
} */
/* 
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
} */
