.exams {
  padding: 6px;
  display: flex;
  height: 92%;
}

.exams .the-exams {
  background-color: white;
  margin-left: 6px;
  flex: 1;
  border-radius: 1rem;
  overflow-y: auto;
}

.exams .summary {
  background-color: white;
  margin-left: 6px;
  width: 35%;
  border-radius: 1rem;
  overflow-y: auto;
}

.exams .the-exams .a-exam {
  margin: 12px 8px 12px 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 4px;
  display: flex;
  justify-content: space-between;
}
/* .exams .the-exams .chosen {
  background-color: rgba(0, 0, 255, 0.5);
} */

.exams .the-exams .a-exam .name-description {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  padding-left: 4px;
  height: fit-content;
}
.exams .the-exams .a-exam .name-description h4 {
  display: inline;
}

.exams .the-exams .a-exam .side-buttons {
  margin-left: 6px;
}
.exams .the-exams .a-exam .side-buttons button {
  background-color: rgba(46, 206, 40);
}
